style.
  .pull-left {
    font-weight:300;
    font-size:19px;
  }

footer

  .container.text-center
    p.pull-left.cr © #{new Date().getFullYear()} #{brandName} &nbsp

    .link-container
      a.footer-link(href='/stats') Stats

      a.footer-link(href='/about') About

      a.footer-link(href='/termsofservice') Terms Of Service

      a.footer-link(href='https://github.com/burgerstupr/zalleron' target='_blank') GitHub

      a.footer-link(href='https://discord.gg/KaQUHEA' target='_blank') Discord

      a.footer-link(href='https://gab.com/zalleron' target='_blank') Gab